* {
	box-sizing: border-box;
}
body {
	background-color: grey;
	text-align: center;
	width: 100%;
	max-width: 960px;
}
.header {
	height: 80px;
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
.nav {
	height: 80px;
	background: white;
	padding: 20px;
	margin-bottom: 15px;
}
section {
	width: 49%;
	max-width: 650px;
	float: left;
	background: white;
	height: 255px;
	padding-top: 15px;
	margin-bottom: 15px;
}
aside {
	width: 49%;
	max-width: 650px;
	float: right;
	background: white;
	height: 255px;
	padding-top: 15px;
	margin-bottom: 15px;
}
.article {
	clear: both;
	background: grey;
	position: absolute;
	top: 260px;
	left: 65px;
	width: 365px;
	height: 175px;
	padding: 10px;
}
.subhead {
	position: absolute;
	top: 295px;
	left: 90px;
	width: 315px;
	height: 45px;
	padding-top: 15px;
	background: white;
}
p {
	position: absolute;
	top: 325px;
	left: 90px;
	width: 315px;
	height: 45px;
	padding-top: 15px;
	background: white;
}
footer {
	clear: both;
	height: 80px;
	background: white;
	top: 620px;
	padding: 20px;
}
